@font-face {
  font-family: "Barlow Medium";
  src: url(../font/Barlow-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Barlow Bold";
  src: url(../font/Barlow-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Barlow Light";
  src: url(../font/Barlow-Light.ttf) format("truetype");
}

:root {
  --bcg: #fae4d6;
  --bcg-shadow: #e6d2c5;
  --dark: #3e3652;
  --darker: #292435;
  --litest-purple: #ffa7d1;
  --litr-purple: #cc86a8;
  --muted-purple: #a66d89;
  --dark-muted: #734b5e;
  --orangez: #f1985a;
  --litest-orng: #ffc05f;
  --litr-orng: #ffab5f;
  --dark-orng: #be7746;
}



body {
  font-family: 'Barlow', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

.light-mode {
  background-color: var(--bcg);
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23a66d89' fill-opacity='0.06'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.dark-mode {
  background-color: var(--dark);
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23a66d89' fill-opacity='0.06'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

}

header {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-shadow: rgba(20, 20, 21, 0.486) 0px 7px 29px 0px;
}


nav {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: stretch;
  margin: auto;
  background-image: linear-gradient(to right, var(--muted-purple) , var(--dark-muted));
}

#nav-left {
  width: 45%;
  display: flex;
}

#logo {
  max-height: 50px;
  padding: 1rem;
  margin-left: 2rem;
}

h1 {
  font-family: 'Barlow Bold', sans-serif;
  margin: auto auto auto 1rem;
  padding: 1rem;
  color: var(--litest-orng);
  text-shadow: 2px 2px 4px rgb(15, 17, 22);
}

#nav-right {
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  place-content: flex-end;
  margin: auto;
}

#toggle-cont {
  width: 5%;
  display: flex;
}

#light-dark {
  width: 30px;
  height: 30px;
  margin: auto;
}

#light-dark:hover {
  cursor: pointer;
}


button {
  cursor: pointer;
  border: hidden;
  font-family: 'Barlow Medium', sans-serif;
  border-radius: 5px;
  background-color: var(--litr-orng);
  box-shadow: rgba(20, 20, 21, 0.256) 0px 7px 29px 0px;
  font-size: large;

}

button:hover {
  background-color: var(--orangez);
  box-shadow: rgba(20, 20, 21, 0.745) 0px 7px 29px 0px;
}

.nav-btn {
  padding: 10px;
  margin: auto 1rem;
}

#user-target {
  display: flex;
  font-weight: bolder;
  background-color: var(--orangez);
  padding: 0.2rem 0.2rem;
  border-radius: 10px;
  color: var(--drk-blu);
  margin: auto 1rem auto auto;
}

#avatar-target {
  border-radius: 10px;
  width: 50px;
  height: auto;
  margin: auto 1rem auto 0.2rem;
}

#username-display {
  margin: auto 0.5rem;
}

#dropdown-arrow {
  cursor: pointer;
  height: 30px;
  width: auto;
  margin: auto;
}

.hidden {
  display: none;
}

.visible {
  display: block;
  position: absolute;
  top: 4rem;
  width: 185px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 0.3rem;
  background: var(--orangez);
}

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 0.8rem 1rem;
  text-decoration: none;
  margin: 0;
  color: var(--dark);
  border: 1px var(--dark)
}

.dropdown-item:not(#logout-btn):hover {
  background-color: var(--litr-orng);
  color: var(--dark);
}

#logout-btn:hover {
  background-color: var(--litr-orng);
  color: var(--dark);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#container {
  width: 90%;
  max-width: 100%;
  margin: auto;
}

#suodatin {
  width: 50%;
  margin: 3rem auto;
  padding: 1rem;
  border: hidden;
  border-radius: 1rem;
  background-image: linear-gradient(to right, var(--muted-purple) , var(--dark-muted));
  box-shadow: rgba(20, 20, 21, 0.486) 0px 7px 29px 0px;
}

#suodatin p {
  color: var(--bcg);
}

h2 {
  margin: 1rem auto;
  font-family: 'Barlow Bold', sans-serif;
  color: var(--litest-orng);
  text-shadow: 2px 2px 4px rgb(15, 17, 22);
}

#restaurant-name {
  font-size: xx-large;
}

#napit {
  max-width: 80%;
  margin: 1rem auto;
  display: inline-flex;
  justify-content: center;
  gap: 1rem;
  font-size: larger;
}

#menunapit {
  width: 55%;
  margin: 1rem auto;
  padding-bottom: 1rem;
  display: inline-flex;
  justify-content: center;
  gap: 1rem;
}

#kaupungit {
  margin: 1rem auto 2rem;
  padding: 1rem;
  border: hidden;
  border-radius: 5px;
  font-family: 'Barlow Medium', sans-serif;
  background-color: var(--litr-orng);
  box-shadow: rgba(20, 20, 21, 0.256) 0px 7px 29px 0px;
  cursor: pointer;
}

option {
  cursor: pointer;
}

.huom {
  font-family: 'Barlow Medium', sans-serif;
  color: var(--bcg);
}

label {
  font-family: 'Barlow Medium', sans-serif;
  display: flex;
  margin: auto;
}

.filter-name {
  margin: 0.5rem auto;
}

#haku {
  padding: 0.5rem 2rem;
  color: var(--dark);
  font-size: x-large;
}

#map {
  height: 450px;
  width: 70%;
  margin: auto;
  display: hidden;
  padding: 10px;
}

.focus {
  background-color: var(--dark-orng);
}

table {
  border: var(--dark);
  border-spacing: 0;
  margin: 2rem auto;
  padding: 0;
  font-family: 'Barlow Medium', sans-serif;
}

.rest-table {
  max-width: 100%;
  width: 80%;
}

#courses {
  display: inline-flex;
}

th {
  background-color: var(--muted-purple);
  border: 1px solid var(--dark);
  font-weight: normal;
  padding: 0.5em 1em;
  text-align: left;
}

tr {
  border: 1px solid var(--dark);
  padding: 1em 1em;
}

#table-headers th {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: var(--orng);
  font-family: 'Barlow Bold', sans-serif;
  border: var(--dark) 1px solid
}

.rest-table tr {
  display: flex;
  place-items: center;
  font-size: large;
}

.rest-table tr:not(.nearest) {
  background-color: var(--muted-purple);
  color: var(--bcg);
}

.rest-table tr:hover {
  background-color: var(--dark-muted);
  cursor: pointer;
}

.rest-table tr.focus {
  background-color: var(--dark-muted);
}

#courses tr {
  margin: auto;
}

td {
  margin: auto;
}

#courses tr td {
  border: var(--dark) 1px solid;
  padding: 0.5em 1em;
  text-align: left;
  background-color: var(--litest-orng);
}

#courses tr th {
  background-color: var(--litr-orng);
}

#course-row {
  padding: 1rem;
}

.nearest {
  background-color: var(--orangez);
  color: var(--dark);
}

#ravintolat tr.nearest:hover {
  background-color: var(--dark-orng);
}

#ravintolat tr.nearest.highlight {
  background-color: var(--dark-orng);
}

.highlight {
  font-weight: bold;
  background-color: var(--litr-purple);
}

.star-cont {
  margin-right: 0;
}

.fave-star {
  max-width: 20px;
}

.fave-star:hover {
  cursor: pointer;
}

dialog {
  border: none !important;
  background-image: linear-gradient(to right, var(--muted-purple) , var(--dark-muted));
  border-radius: 10px;
  display: hidden;
  font-family: 'Barlow Medium', sans-serif;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#restaurant-screen {
  width: 75%;
}

#restaurant-screen p {
  color: var(--bcg);
}

#activate p {
  margin-top: 4rem;
}

#favorites {
  width: 75%;
}

#profile {
  width: 65%;
}

#profile .form-cont {
  background-color:#0000;
}

#user-data {
  display: flex;
  width: 50%;
  margin: auto;
  padding: 1rem;
}

#user-data-text {
  display: block;
  text-align: left;
  margin-left: 0;
  margin-right: 2rem;
}

#prof-avatar-target {
  width: 200px;
}

#lempiravintolat {
  max-width: 100%;
}

.close {
  position: absolute;
  right: 1.5rem;
  top: 1rem;
  font-weight: bolder;
  background-color: var(--orangez);
  padding: 0.8rem 1rem;
  border-radius: 100px;
  color: var(--drk-blu)
}

.close:hover {
  background-color: var(--dark-orng);
}

#rest-info {
  margin: 3rem 2rem 0;
}

h3 {
  margin-top: 4rem;
  padding: 0 2em 0 2em;
}

span:hover {
  cursor: pointer;
}

#close-dialog {
  font-weight: bolder;
}

#close_dialog:hover {
  cursor: pointer;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.login-register {
  border: none !important;
  padding: 0;
  width: 50%;
  background-color: rgba(0, 0, 0, 0);
  display: hidden;
  font-family: 'Barlow Medium', sans-serif;
}

.form-tab {
  margin-right: 0;
  margin-bottom: 0;
  padding: 1rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

dialog::backdrop {
  backdrop-filter: blur(5px) brightness(0.5);
}

.form-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding-top: 1rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: visible;
}

.form-cont label {
  font-size: large;
}

.login-button {
  margin: auto;
}

div.form-example {
  display: table-row;
}

a {
  margin: auto;
  padding: 1rem;
  font-size: small;
}

.form-btn {
  height: 44px;
  border-radius: 8px;
  border: none;
  background-color: var(--litr-orng);
  box-shadow: rgba(20, 20, 21, 0.256) 0px 7px 29px 0px;
  font-weight: 700;
}

.form-btn:hover {
  cursor: pointer;
  background-color: var(--orangez);
  box-shadow: rgba(20, 20, 21, 0.745) 0px 7px 29px 0px;
}

input {
  display: table-cell;
  margin: 10px;
  font-size: large;
}

input:invalid {
  text-decoration: underline red dotted;
}

@media (max-width: 800px) {
  #logo {
    margin-left: 1rem;
  }

  h1 {
    margin-left: 0;
  }

  #nav-right {
    width: 45%;
  }

  .nav-btn {
    margin: auto 0.5rem;
  }

  #toggle-cont {
    width: 10%;
  }

  #suodatin {
    width: 60%;
  }

  #napit {
    max-width: 90%;
  }

  #menunapit {
    width: 90%;
  }

  #ravintolat {
    display: block;
  }

  tr {
    width: 90%;
  }

  .login-register {
    width: 70%;
  }

  #profile {
    width: 70%;
  }

  #user-data {
    width: 80%;
  }
}

@media (max-width: 730px) {
  #logo {
    margin-left: 0.4rem;
  }
  h1 {
    font-size: larger;
    padding: 0;
  }

  #suodatin {
    width: 85%;
  }

}

@media (max-width: 640px) {
  h1 {
    width: 30%;
  }

  #nav-left {
    width: 30%;
    align-content: center;
  }

  #nav-right {
    width: 60%;
    margin-right: 0;
  }

  #user-data {
    display: block;
  }

  #user-data-text {
    padding-bottom: 1rem;
  }

  #suodatin {
    width: 90%;
  }

  .login-register {
    width: 85%;
  }

  #profile {
    width: 85%;
  }

  #napit {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .ravnappi {
    padding: 0.5rem;
  }

  #courses {
    font-size: small;
  }
}

@media (max-width: 600px) {
  nav {
    display: block;
  }

  #nav-left {
    width: 100%;
  }

  #logo {
    height: 50px;
    width: 50px;
    margin: 0;
  }

  h1 {
    font-size: xx-large;
    width: auto;
  }

  #nav-right {
    display: inline-flex;
    place-content: center;
    margin: 1rem;
  }

  #toggle-cont {
    display: inline-flex;
  }

  td {
    font-size: medium;
  }

  .nav-btn {
    font-size: x-large;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 140%;
    padding: 1rem;
    margin: auto;
  }
  #nav-right {
    width: 60%;
  }

  .nav-btn {
    font-size: medium;
  }
  #toggle-cont {
    width: 10%;
  }
  #profile {
    width: 95%;
  }

  .login-register {
    width: 95%;
  }
}
